{% extends "base.html" %}

{% block content %}
    <form method="POST">
        {{form.hidden_tag()}}
        <p>
            {{ form.name.label }}<br>
            {{ form.name }}<br>
        </p>
        <p>
            {{ form.start_time.label }}<br>
            {{ form.start_time }}<br>
        </p>
        <p>
            {{ form.end_time.label }}<br>
            {{ form.end_time }}<br>
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description }}<br>
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}

